.TopMenu
  box-sizing: border-box
  position: static
  top: 0
  left: 0
  color: #fff
  display: flex
  flex-direction: column
  flex-shrink: 0
  padding: 12px 24px
  background-color: var(--bg-top-menu)
  transition: 0.5s
  &.darkMode
    background-color: var(--dark-bg-top-menu)
  &-root
    display: flex
    align-items: center
    justify-content: center
    vertical-align: middle

